# Editors/IDEs/etc
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt